$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome"

$closeHoverColor: #BE5656
$bottomBorderColor: #848484
$onHoverColor: #ABABC6
$paddingForRow: 5px

#searchBox
  width: 200px
  display: flex
  background-color: #fdfdff
  border: none
  flex: auto
  margin: 0px 10px 0px 10px
  padding: 5px 5px
  box-sizing: border-box
  resize: none
  font-size: 100%

@font-face
  font-family: "SanFrancissco"
  src: url(../font/SanFranciscoDisplay-Bold.otf)


table
  margin-top: 5px
  border-collapse: collapse
  width: 90%
  font: 100% "SanFrancissco";


td
  padding: $paddingForRow 10px
  border-bottom: 1px solid $bottomBorderColor
  text-align: justify
  position: relative
  &.veryEmpty
    padding: 0px


tr
  margin-top: 3px

.close
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  

#body
  background-color: white
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.icon-container
  height: calc(100% - #{$paddingForRow * 2})
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  margin-right: 2px
  padding: 0px 3px
  
=row
  background-color: $onHoverColor

.smallRow
  padding: 5px 3px 5px 5px
  margin-right: -10px
  margin-left: -5px

#selected .smallRow
  +row
  border-radius: 2px 0px 0px 2px


#selected .close .icon-container
  +row
  border-radius: 0px 2px 2px 0px
  &:hover
    background-color: $closeHoverColor

