/* Prevent the text contents of draggable elements from being selectable. */
#searchBox {
  width: 200px;
  display: flex;
  background-color: #fdfdff;
  border: none;
  flex:auto;
  margin:0px 10px 0px 10px;
  padding: 5px 5px;
  box-sizing: border-box;
  resize: none;
  font-size: 100%;

}

#searchBox::-webkit-input-placeholder{
}

@font-face {
  font-family: "SanFrancissco";
  src: url(../font/SanFranciscoDisplay-Bold.otf);
}
